<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/blog/">Readit</a>
        <button class="navbar-toggler" type-"button" data-toggler"collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-Nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/blog/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog/Categories">Categories</a>
                </li>
            </ul>  
            <form class="form-inline mr-auto my-lg-0" method="GET" action="{% url 'blog:search' %}">
                <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <span class="navbar-text">
                {% if user.is_authenticated %}
                    Welcome, {{ user.get_username }}. <a href="{% url 'blog:profile_view' %}">Account</a>
                {% else %}
                    <a href={% url 'blog:login' %}>Log in</a>
                {% endif %}
            </span>
        </div>
    </nav>
    
    <div class="container">
        {% if user.is_authenticated %}
            <a href="{% url 'blog:profile_view' %}" style="position:fixed;bottom:10px;right:80px;"><i class="fas fa-user-circle fa-4x"></i></a>
            <a href="{% url 'blog:new_post' %}"style="position:fixed;bottom:10px;right:10px;" ><i class="fas fa-pen-square fa-4x"></i></a>
            {% if user.get_username == post.create_by %}
                <h1 style='color:red;'>Delete {{ post.title }}</h1>
                <h4>Are you sure you would like to delete this post?</h4>
                <form method="POST" action="{% url 'blog:delete' post.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-danger" name="delete" id="delete">Delete</button>
                    <button class="btn btn-secondary" name="cancel" id="cancel" formmethod="GET" formaction="{% url 'blog:detail' post.pk %}">Cancel</button>
                </form>
            {% else %}
                <h3>Please log in as original poster to delete this post.</h3>
            {% endif %}
        {% else %}
            <h3>Please log in to edit posts.</h3>
        {% endif %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>