{% extends "blogs/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container" style="margin-top:2%;">
    {% if user.is_authenticated %}
        <a href="{% url 'blog:profile_view' %}" style="position:fixed;bottom:10px;right:80px;"><i class="fas fa-user-circle fa-4x"></i></a>
        <a href="{% url 'blog:new_post' %}"style="position:fixed;bottom:10px;right:10px;" ><i class="fas fa-pen-square fa-4x"></i></a>

            {% if user.get_username == post.create_by.username %}
            <h1>Edit {{ title }}</h1>
            <form action="edit" method="POST">
                {% csrf_token %}
                {% for err in form.non_field_errors %}
                    <p class="form-error">{{ err }}</p>
                {% endfor %}
                {{ form|crispy }}
                <div class="buttons" style="margin-top:1%;">
                    <button class="btn btn-secondary" id="submit" type="submit">Submit</button>
                    <button class="btn btn-danger" id="delete" type="submit" formaction="{% url 'blog:delete' post.pk %}" formmethod="GET">Delete</button>
                </div>
            </form>
            
        {% else %}
            <h3>Please log in as original poster to edit this post.</h3>
        {% endif %}
    {% else %}
        <h3>Please log in to edit posts.</h3>
    {% endif %}
</div>
{% endblock %}