{% extends "blogs/base.html" %}
{% block content %}
    <div class="container" style="margin-top:2%;">

        {% if user.is_authenticated %}
            <h1 style="text-align:center;">Welcome to Readit {{user.get_username|title }}.</h1>
            <a href="{% url 'blog:profile_view' %}" style="position:fixed;bottom:10px;right:80px;"><i class="fas fa-user-circle fa-4x"></i></a>
            <a href="{% url 'blog:new_post' %}"style="position:fixed;bottom:10px;right:10px;" ><i class="fas fa-pen-square fa-4x"></i></a>
        {% else %}
            <h1>Welcome to Readit guest.</h1>
            <a href="{% url 'blog:login' %}">Log in to create posts.</a>
        {% endif %}

        <h2 style="margin-top:3%;">Most recent posts</h2>

        {% if latest_posts_list %}
        <ul style="margin-top:3%;">
        {% for post in latest_posts_list %}
            <li><a href="{% url 'blog:detail' post.id %}"><div class="container-for-post" style="width:80%;"><h5>{{ post.title|title }}</h5>
                <div class="container" style="overflow:hidden;color:grey;font-size:12px;"><div class="a" style="text-align: left;float:left;">Posted: {{ post.create_date }}</div><div class="b" style="text-align: right;overflow:hidden">By: {{ post.create_by }}</div></div>
                </div></a>
            </li>
        {% endfor %}
        </ul>
        {% else %}
            <p>No posts are available.</p>
        {% endif %}
    </div>
{% endblock %}
