{% extends "blogs/base.html" %}
{% block content %}
    <div class="container" style="margin-top:2%;">
        <h1 style="text-align:center;">{{ post.title|title }}</h1>
        {% autoescape off %}
            <p class ='content-markdown'>{{ post.content }}</p>
        {% endautoescape %}
        <p style="margin-top:5%;">Tags: {% for category in post.categories.all %}
            <a href="{% url 'blog:category' category.id %}" >{{ category.name|title }} </a>,
            {% endfor %}
        </p>
        <p style="color:grey;font-size:12px;"><b>Created: {{ post.create_date }} <br/> Published by: {{ post.create_by|title }} 
             </b></p>
        {% if user.is_authenticated %}
            {% if user.get_username == post.create_by.username %} 
                <a href="{% url 'blog:edit' pk=post.pk %}" style="position:fixed;bottom:10px;right:150px;"><i class="fas fa-edit fa-4x"></i></a>
            {% endif %}
            <a href="{% url 'blog:profile_view' %}" style="position:fixed;bottom:10px;right:80px;"><i class="fas fa-user-circle fa-4x"></i></a>
            <a href="{% url 'blog:new_post' %}"style="position:fixed;bottom:10px;right:10px;" ><i class="fas fa-pen-square fa-4x"></i></a>
        {% endif %}
    </div>
{% endblock %}